<form>
        <div class="form-group">
          <label for="Email1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" 
          aria-describedby="emailHelp"> </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" class="form-control" 
          id="Password" minlength="8">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
<div class="card">
  
  <hr>
  <hr>
  <strong>Si vous n'etes pas inscrit veuillez Créer un compte</strong>
</div>
<a   href='/register'>
<button type="submit" class="btn btn-danger">
  register
</button>  
</a>