<table style="border-color:darkcyan;" >
<div  *ngFor="let p of produitspanier">
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <tr>
          <td>
        <img src="{{p.ProduitImgPath}}" class="image" alt="...">
          </td>
        <td><h5>{{p.ProduitName}}</h5>
            <tr>{{p.ProduitDescription}}</tr>
            <tr>
                <br> <hr><a class="btn btn-danger" style="color : white" (click)="supprimer(p)">Supprimer de Panier
                  </a>
                    <button mat-raised-button class="btn btn-primary" style="margin-left : 20px;" (click)='acheter_Produit(p)'>Passer La commande</button>
              </tr>
          </td>
        <td><p> </p></td>
        <td style="size: 30px;"><h4>
          <span class="badge badge-primary list-group-item-success " style="size: 300px;">Disponible en stock</span></h4>
        <tr style="size: 30px;">
          <h1>
          <span class="badge badge-primary " style="size: 300px;">{{p.prix}} Dt</span></h1>
        </tr>
        </td>
    </div>

  </div>
</table>
