


<div id="bigDiv" >
    <div id="smallDiv" *ngFor="let p of produitspanier">
            <img src="{{p.ProduitImgPath}}" class="image" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{p.ProduitName}}</h5>
              <p class="card-text">{{p.ProduitDescription}}</p>
              <p class="card-text">{{p.prix}} Dt</p>
              <a class="btn btn-primary" (click)="Acheter(p)">Passer la commande
                </a>
            </div>
    </div>
</div>
