
<nav class="navbar nav-tabs navbar-expand-lg navbar-light bg-light"  style="margin : 0.5%;">
    <button type="button" class="btn btn-outline-primary" style="margin-right: 2%"(click)="AfficherProduitsCategorie('')">Toutes les catégories</button>
    <button type="button" class="btn btn-outline-primary" style="margin-right: 2%"(click)="AfficherProduitsCategorie('INFO')">Informatique</button>
    <button type="button" class="btn btn-outline-primary" style="margin-right: 2%" (click)="AfficherProduitsCategorie('TEL') ">TÉLÉPHONE & Tablettes</button>
    <button type="button" class="btn btn-outline-primary" style="margin-right: 2%" (click)="AfficherProduitsCategorie('TVSON')">TV-Son-Photos</button>
  </nav>

  <div style="display : inline-block;width : 100%; padding-left : 100px;padding-top : 10px;padding-bottom : 10px;background: #7f8c8d;">

    <input  style="float : left;margin-right : 100px;height : 30px;" type="search"
     placeholder="Search...."
     aria-label="Search"
     [(ngModel)]="search"
      >
      <strong style="color: white;"> Prix : </strong>
      <input   type="number" style="height : 30px;"
      [(ngModel)]="PrixStatus" value="0" placeholder="Prix Maximum" ><strong style="color: white;"> DT</strong>
  </div>



  <div id="bigDiv" >
      <div   id="smallDiv" *ngFor="let p of produits | filter : search : PrixStatus">
              <img src="{{p.ProduitImgPath}}" class="image" alt="..."  [routerLink]="['/produitDetails', p.ProduitId]"  >
              <div class="card-body"   style="padding-bottom : 10px;" >
                <h5 class="card-title">{{p.ProduitName}}</h5>
                <p class="card-text">{{p.ProduitDescription}}</p>
                <p class="card-text">{{p.prix}} Dt</p>
                <a class="btn btn-primary" style="background: #2ecc71;font-size : 17px;border : 0;"
                [routerLink]="['/produitDetails', p.ProduitId]" >Connaitre le produit</a>
                <a class="btn btn-primary" style="background: #e74c3c;font-size : 17px;border : 0;margin-top : 15px;z-index : 3000;"
                (click)="ajouter(p)" >Ajouter au panier</a>
              </div>
      </div>
</div>
